* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Mesh Gradient Effekt */
  background-color: #b8c6ff;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%), 
    radial-gradient(at 0% 100%, hsla(339,49%,30%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 100%, hsla(253,16%,7%,1) 0, transparent 50%);
  
}

.app-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: white;
    margin-left: 20px;
    display: flex;
    left: 1px;
}

.header-app-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

